<h3>Welcome to Text Me a Book</h3>
<div class="container">
  <div class="row">
    <div class="class col-md-10 col-sm-6">
      <div class="well">

        <h4>Enter your mobile number</h4>
          <%= form_tag '/phone', :method => :post do %>
            <%= telephone_field_tag :phone %>
            <%= submit_tag "Submit" %>
        <% end %>

        <h4>Search by Title or Author</h4>
          <%= form_tag '/', :method => :get do %>
           <%= text_field_tag :search %>
           <%= submit_tag "Search" %>
        <% end %>
          
        <%@textbooks && @textbooks.each do |textbook| %>
          <a href="/books/<%= textbook.id %>"><%=textbook.title%></a> --
          <a href="/books/<%= textbook.id %>"<%= textbook.author %>><%=textbook.author%></a>
          </br>  
        <% end %>

      </div>
    </div>
  </div>
</div>