<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <p class="lead">Upload a Book</p>
        <%= form_for @textbook, url: {action: "upload_book"} do |f|%>  
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :author %>
          <%= f.text_field :author %>
          <%= f.label :description %>
          <%= f.text_field :summary %>
          <%= f.label :PDF %>
          <%= f.file_field :url %>
          <%= f.submit "Upload" %>
        <%end %>
        </div>
      </div>
    </div>
  </div><!--center heading-->

