<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center center-form">
          <p class="lead"><strong>Up</strong>load a <strong>Book</p>
        <%= form_for @textbook, url: {action: "upload_book"} do |f|%> 
          <div> 
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <br>
          <div>
            <%= f.label :author %>
            <%= f.text_field :author %>
          </div>
          <br>
          <div>
            <%= f.label :description %>
            <%= f.text_field :summary %>
          </div>
          <br>
          <div>
            <%= f.label :PDF %>
            <%= f.file_field :url, :class => 'file-field' %>
          </div>
          <br>
          <!-- <div> -->
            <%= f.submit "Upload", :class => 'center-button' %>
          <!-- </div> -->
        <%end %>
        </div>
      </div>
    </div>
  </div><!--center heading-->

  <div class="divided-50"></div>
    <div class="cta">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 margin-btm-30">
            <h3>
              <strong>TextMeABook</strong> a simple way to commit to "War & Peace"
            </h3>
          </div>
          <div class="col-sm-4">
            <a href="/#about" class="btn btn-theme btn-lg">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
