<div class="container">
<div class="col-md-3">
<br>
<div class="login-border"

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
</div> <!-- End col-md-3 -->
<div class="col-md-9 author">
<p>Charles Dickens</p>
<p>Mark Twain</p>
<p>Oscar Wilde</p>
<p>Emily Brontë</p>
<p>Jack Kerouac</p>
<p>F. Scott Fitzgerald</p>
<p>John Milton</p>
<p>Arthur Conan Doyle</p>
<p>Bram Stoker</p>
<p>D. H. Lawerence</p>
<p>Charles Perrault</p>
<p>Charlotte Brontë</p>
<p>Nietzsche</p>
<p>Anne Brontë</p>
<p>Homer</p>
<p>Franz Kafka</p>
<p>Jane Austen</p>
<p>Dostoyevsky</p>
<p>George Orwell</p>
<p>H. G. Wells</p>
<p>Hans Christian Andersen</p>
<p>Henry James</p>
<p>Herman Melville</p>
<p>Mary Shelley</p>
<p>Howard Pyle</p>
<p>Alexandre Dumas</p>
<p>James Joyce</p>
<p>Joseph Conrad</p>
<p>Tolstoy</p>
<p>Lewis Carol</p>
<p>Machiavelli</p>
<p>Robert Louis Stevenson</p>
<p>Victor Hugo</p>
</div> 
</div>
</div>
