<!DOCTYPE html>
<html>
<head>
  <title>TextMeAbook</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <section id="navigation">
      <div class="navbar navbar-inverse navbar-static-top navbar-border" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Text Me A Book</a>
              </div>
              <div class="navbar-collapse collapse">

                  <ul class="nav navbar-nav navbar-right scrollto">
                      <li><a href="/">Home</a></li>
                      <li><a href="/#about">About</a></li>
                      <li><a href="/upload">Upload</a></li>
                      <li><a href="/phone">Add Phone</a></li>
                      <li><a href="/users/edit">Settings</a></li>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/users/sign_out">Sign Out</a></li>
                  </ul>

              </div><!--/.nav-collapse -->
          </div><!--/.container -->
      </div><!--navbar-default-->
  </section><!--navigation section end here-->

  <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>">
        <%= message %>
      </div>
    <% end %>
    
<div ng-app="app">
  <%= yield %>
</div>
</body>
</html>
